body {
    margin-top: 50px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.glyphicon {
    margin-right: 10px;
}

.panel-body {
    padding: 0px;
}

.panel-body table tr td {
    padding-left: 15px
}

.panel-body .table {
    margin-bottom: 0px;
}

footer {
    text-align: center;
    margin-top: 15px;
}

